<!-- Because StackBlitz does not allow assets we have to encode our samples to Base64 -->
<details>
	<summary>
		<ng-content></ng-content>
	</summary>
	<fieldset *ngIf="kick$ | async" waAudioBufferSourceNode autoplay [buffer]="kick | async">
		<legend>AudioBufferSourceNode</legend>
		<ng-container waGainNode [gain]="volume">
			<fieldset waAudioDestinationNode>
				<legend>AudioDestinationNode</legend>
        Kick drum
			</fieldset>
		</ng-container>
	</fieldset>
	<fieldset *ngIf="snare$ | async" waAudioBufferSourceNode autoplay [buffer]="snare | async">
		<legend>AudioBufferSourceNode</legend>
		<ng-container waGainNode [gain]="volume">
			<fieldset waAudioDestinationNode>
				<legend>AudioDestinationNode</legend>
        Snare drum
			</fieldset>
		</ng-container>
	</fieldset>
</details>