<button *ngIf="!started; else tracks" class="start" (click)="start()">
    Start AudioContext
</button>
<ng-template #tracks>
	<section>
		<div>
			<label>
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="beat" />
        Beat
      </label>
		</div>
		<div>
			<label>
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="solo" />
        Solo
      </label>
		</div>
		<div>
			<label>
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="lead" />
        Lead
      </label>
		</div>
		<div>
			<label>
        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="chords" />
        Chords
      </label>
		</div>
	</section>
	<beat [volume]="beat"></beat>
	<solo [volume]="solo"></solo>
	<lead [volume]="lead"></lead>
	<chords [volume]="chords"></chords>
</ng-template>