<button class="start" (click)="toggle()">{{text}}</button>
<section *ngIf="started">
	<blockquote>
		<strong>Click tracks to expand inner structure</strong>
    <em>
		Only important nodes are shown. Some technical
		nodes are left out (such as GainNode for volume control).
    </em>
	</blockquote>
	<beat [volume]="beat">
		<label>
      <h1>Beat</h1>
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="beat" />
    </label>
	</beat>
	<chords [volume]="chords">
		<label>
      <h1>Chords</h1>
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="chords" />
    </label>
	</chords>
	<lead [volume]="lead">
		<label>
      <h1>Lead</h1>
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="lead" />      
    </label>
	</lead>
	<solo [volume]="solo">
		<label>
      <h1>Solo</h1>
      <input type="range" min="0" max="1" step="0.01" [(ngModel)]="solo" />
    </label>
	</solo>
</section>